<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <title>Course Directory</title>
</head>
<body>
<div class="container">
    <h3> Your preffered Courses</h3>
    <hr>
    <table class="table table-bordered table-striped">
        <thead class="thead-dark">
        <tr>
            <th>Course Name</th>
            <th>Course Code</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Action</th>

        </tr>
        </thead>

        <tbody>

        <tr th:each="course : ${courses}">
            <td th:text="${course.getCoursename()}"/>
            <td th:text="${course.getCourseCode()}"/>
            <td th:text="${course.getStartDate()}"/>
            <td th:text="${course.getEndDate()}"/>

            <td>
                <!-- Add "update" button/link -->
                <a th:href="@{/courses/update(courseId=${course.id})}"
                   class="btn btn-info btn-sm">
                    Update
                </a>
            </td>
        </tr>
        </tbody>

    </table>
    <table>
        <div id="global">
            <h4>Faculty Chooses preffered Course</h4>

            <form action="#" th:action="@{/faculty/courses}" method="GET">

                <p>Select a course</p>
                <select th:field="*{allCourses}">
                    <option value="default">Select a course</option>
                    <option th:each="b:${allCourses }" th:value="${b.getCoursename() }" th:text="${b.getCoursename()}"/>
                </select>
                </br>
                </br>
                <a th:href="@{/faculty/msg}"
                   class="btn btn-primary btn-sm mb-3">
                    Add to Preffered courses List
                </a>
                </thead>

                <tbody>

                </tbody>

            </form>
        </div>
    </table>
</div>

</body>
</html>