<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <title>faculty Logged In</title>
</head>

<body>

<div class="container">

    <h3>You have Logged In</h3>
    <hr>

    <table class="table table-bordered table-striped">
        <thead class="thead-dark">
        <tr>
            <th>faculty Name</th>
            <th>Email</th>
            <th>User</th>
            <th>Action</th>
        </tr>
        </thead>

        <tbody>
        <tr ${faculty}>

            <td th:text="${faculty.facultyName}" />
            <td th:text="${faculty.email}" />
            <td th:text="${faculty.user.getFirstName()}" />


            <td>
                <!-- Add "update" button/link -->
                <!--<a th:href="@{/faculty/update(facultyID=${f.facultyID})}"
                   class="btn btn-info btn-sm">
                    Update
                </a>-->
<!--                <a th:href="@{/students/showFormForUpdate1(studentId=${student.getId()})}"-->
                <a th:href="@{/faculty/updateProfile(facultyId=${faculty.getFacultyID()})}"
                   class="btn btn-info btn-sm">
                    Update
                </a>
            </td>


        </tr>
        </tbody>
    </table>

</div>

</body>
</html>



