<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <title>Save Course</title>
</head>
<body>
  <div class="container">

      <h3>Course Directory</h3>
      <hr>
      <p class="h4 mb-4">Save Course</p>

      <form action="#" th:action="@{/courses/save}" th:object="${course}" method="POST">
          <!--Add hidden form field to handle update -->
          <input type="hidden" th:field="*{id}">

          <input type="text" th:field="*{coursename}" class="form-control mb-4 col-4" placeholder="Course name">

          <input type="text" th:field="*{courseCode}" class="form-control mb-4 col-4" placeholder="Course Code">

          <input type="date" th:field="*{startDate}" class="form-control mb-4 col-4" placeholder="Start Date">

          <input type="date" th:field="*{endDate}" class="form-control mb-4 col-4" placeholder="End Date">

<!--          <input type="hidden" th:field="*{faculty.facultyFacultyID}">-->
          <label for="fac">Faculty</label>
          <select class="form-control mb-4 col-4" id="fac"  th:field="*{facultyList}" size="5" multiple="multiple" >
              <option th:each="fac : ${faculties}"
                      th:value="${{fac}}"
                      th:text="${fac.getFacultyName()}">
              </option>
          </select>
          <label for="stud">Student</label>
          <select class="form-control mb-4 col-4" id="stud"  th:field="*{studentList}" size="40" multiple="multiple" >
              <option th:each="stud : ${students}"
                      th:value="${{stud}}"
                      th:text="${stud.getStudentID()}">
              </option>
          </select>


          <button type="submit" class="btn btn-info col-2">Save</button>

      </form>
      <hr>
      <a th:href="@{/courses/list}"> Back to Course List</a>
  </div>
</body>
</html>