<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <title>Course Directory</title>
</head>
<body>
<div class="container">
    <h3 > Course Directory</h3>

    <hr>
    <a th:href="@{/courses/showFormForAdd}"
       class="btn btn-primary btn-sm mb-3">
        Add New Course
    </a>
    <h3>
        Course Name: <span th:text="${course.getCoursename()}"></span>
    </h3>
    <table class="table table-bordered table-striped">
        <thead class="thead-dark">
        <tr>

            <th>Student ID</th>
            <th>Student first name</th>
            <th>Student last name</th>
            <th>Student email </th>


        </tr>
        </thead>

        <tbody>

        <tr th:each="s : ${course.getStudentList()}">

            <td >
                <!--                    <div th:text="${stats.index + 1}"></div>-->
                <span th:text="${s.getStudentID() }"></span>
            </td>
            <td >
                <!--                    <div th:text="${stats.index + 1}"></div>-->
                <span th:text="${s.getFirstName() }"></span>

            <td >
                <!--                    <div th:text="${stats.index + 1}"></div>-->
                <span th:text="${s.getLastName() }"></span>
            </td>
            <td >
                <!--                    <div th:text="${stats.index + 1}"></div>-->
                <span th:text="${s.getEmail() }"></span>
            </td>
            <!--            <td th:each="stud, i : ${course.getStudentList()}">-->
            <!--                &lt;!&ndash;                    <div th:text="${stats.index + 1}"></div>&ndash;&gt;-->
            <!--                <span th:text="${stud.getStudentID() }"></span>-->
            <!--            </td>-->



            <!--            <td>-->
            <!--                &lt;!&ndash; Add "update" button/link &ndash;&gt;-->
            <!--                <a th:href="@{/courses/update(courseId=${course.id})}"-->
            <!--                   class="btn btn-info btn-sm">-->
            <!--                    Update-->
            <!--                </a>-->

            <!--                <a th:href="@{/courses/delete(courseId=${course.id})}"-->
            <!--                   class="btn btn-danger btn-sm"-->
            <!--                   onclick="if (!(confirm('Are you sure you want to delete this Course!?'))) return false">-->
            <!--                    Delete-->
            <!--                </a>-->

            <!--            </td>-->
        </tr>
        </tbody>

    </table>

</div>
</body>
</html>