<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Choose Entry Name:</title>
</head>
<body>
<table>
    <div id="global">
        <h4>Set Schedule</h4>
        <form action="#" th:action="@{/admin/manageSchedule}" method="GET">
            <p>
                <select th:field="*{entryMonth}">
                    <option value="default">Select a Entry Month</option>
                    <option th:each="e:${entryMonth }" th:value="${e }" th:text="${e}"/>
                </select>
            <p>Select a Block</p>
            <select th:field="*{blockList}">
                <option value="default">Select a block</option>
                <option th:each="b:${blockList }" th:value="${b.getBlockName() }" th:text="${b.getBlockName()}"/>
            </select>
            <tr>
                <th>Block Name</th>
                <th>Block Start Date</th>
                <th>Block End Date</th>
                <th>View Courses</th>
                <th>View Sections</th>
            </tr>
            </thead>

            <tbody>

            <tr th:each="b : ${blockList}">

                <td>
                    <span th:text="${b.getBlockName() }"></span>
                </td>
                <td>
                    <span th:text="${b.getStartDate() }"></span>
                </td>
                <td>
                    <span th:text="${b.getEndDate() }"></span>
                </td>
                <td>
                    <a th:href="@{'/block/courses/' + ${b.getBlockID()} }">View courses</a>
                </td>
                <td>
                    <a th:href="@{'/block/sections/' + ${b.getBlockID()} }">View sections</a>
                </td>
            </tr>
            </tbody>

        </form>
    </div>
</table>
</body>
</html>