<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <title>Save Block</title>
</head>
<body>
  <div class="container">

      <h3>Block Directory</h3>
      <hr>
      <p class="h4 mb-4">Save Course</p>

      <form action="#" th:action="@{/block/save}" th:object="${block}" method="POST">
          <!--Add hidden form field to handle update -->
          <input type="hidden" th:field="*{blockID}">

          <input type="text" th:field="*{blockName}" class="form-control mb-4 col-4" placeholder="Block name">

<!--          <input type="text" th:field="*{courseCode}" class="form-control mb-4 col-4" placeholder="Course Code">-->

          <input type="date" th:field="*{startDate}" class="form-control mb-4 col-4" placeholder="Start Date">

          <input type="date" th:field="*{endDate}" class="form-control mb-4 col-4" placeholder="End Date">

<!--          <input type="hidden" th:field="*{block.facultyFacultyID}">-->
          <label for="course">Course</label>
          <select class="form-control mb-4 col-4" id="course"  th:field="*{courses}" size="5" multiple="multiple" >
              <option th:each="b : ${courses}"
                      th:value="${{b}}"
                      th:text="${b.getCoursename()}">
              </option>
          </select>
          <label for="section">Section</label>
          <select class="form-control mb-4 col-4" id="section"  th:field="*{sections}" size="5" multiple="multiple" >
              <option th:each="s : ${sections}"
                      th:value="${{s}}"
                      th:text="${s.getSectionName()}">
              </option>
          </select>
<!--          <label for="fac">Faculty</label>-->
<!--          <select class="form-control mb-4 col-4" id="fac"  th:field="*{faculties}" size="5" multiple="multiple" >-->
<!--              <option th:each="c : ${faculties}"-->
<!--                      th:value="${{fac}}"-->
<!--                      th:text="${fac.getFacultyName()}">-->
<!--              </option>-->
<!--          </select>-->
<!--          <label for="stud">Student</label>-->
<!--          <select class="form-control mb-4 col-4" id="stud"  th:field="*{studentList}" size="40" multiple="multiple" >-->
<!--              <option th:each="stud : ${students}"-->
<!--                      th:value="${{stud}}"-->
<!--                      th:text="${stud.getStudentID()}">-->
<!--              </option>-->
<!--          </select>-->


          <button type="submit" class="btn btn-info col-2">Save</button>

      </form>
      <hr>
      <a th:href="@{/block/list}"> Back to Course List</a>
  </div>
</body>
</html>