<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <title>Block Directory</title>
</head>
<body>
    <div class="container">
        <h3> block Directory</h3>
        <hr>
        <a th:href="@{/block/showFormForAdd}"
           class="btn btn-primary btn-sm mb-3">
            Add New Course and assign section in a Block
        </a>

        <table class="table table-bordered table-striped">
            <thead class="thead-dark">
            <tr>
                <th>Block Name</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th>course view </th>
                <th>section view </th>
                <th>Action</th>

            </tr>
            </thead>

            <tbody>

            <tr th:each="block : ${blocks}">
                <td th:text="${block.getBlockName()}"/>
<!--                <td th:text="${course.getCourseCode()}"/>-->
                <td th:text="${block.getStartDate()}"/>
                <td th:text="${block.getEndDate()}"/>
                <td>
                    <a th:href="@{'/block/courses/' + ${block.getBlockID()} }">View courses</a>
                </td>
                <td>
                    <a th:href="@{'/block/sections/' + ${block.getBlockID()} }">View sections</a>
                </td>
<!--                <td>-->
<!--                    <a th:href="@{'/course/faculties/' + ${block.getBlockID()} }">View faculties</a>-->
<!--                </td>-->
<!--                <td>-->
<!--                    <a th:href="@{'/course/students/' + ${block.getBlockID()} }">View students</a>-->
<!--                </td>-->
<!--                <td th:each="fac, i : ${course.getFacultyList()}">-->
<!--&lt;!&ndash;                    <div th:text="${stats.index + 1}"></div>&ndash;&gt;-->
<!--                    <span th:text="${fac.getFacultyName() }"></span>-->
<!--                </td>-->
<!--                <td th:each="stud, i : ${course.getStudentList()}">-->
<!--                    &lt;!&ndash;                    <div th:text="${stats.index + 1}"></div>&ndash;&gt;-->
<!--                    <span th:text="${stud.getStudentID() }"></span>-->
<!--                </td>-->



                <td>
            <!-- Add "update" button/link -->
            <a th:href="@{/block/update(blockid=${block.getBlockID()})}"
               class="btn btn-info btn-sm">
                Update
            </a>

            <a th:href="@{/block/delete(blockid=${block.getBlockID()})}"
               class="btn btn-danger btn-sm"
               onclick="if (!(confirm('Are you sure you want to delete this Course!?'))) return false">
                Delete
            </a>

            </td>
            </tr>
            </tbody>

        </table>

    </div>
</body>
</html>