<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>confirm_user_first time verification</title>
</head>
<body>
<h1>confirm_user_verification</h1>
<form th:action="@{/registration/confirm_email}" method="post" >
    <fieldset>
        <legend>Please provide your code for verification</legend>

        <label for="verification code">verification code</label>
        <input th:text="code" id="verification code" name="code" value="code" placeholder="code"/><br>
<!--        <label for="password">verification code</label>-->
<!--        <input th:text="password" id="password" name="password" value="password" placeholder="password"/><br>-->
<!--        <label for="verifyPassword">verification code</label>-->
<!--        <input th:text="verifyPassword" id="verifyPassword" name="verifyPassword" value="verifyPassword" placeholder="verifyPassword"/><br>-->
        <input type="hidden" name="email" th:value="${email}">
        <div>
            <p class="error" th:text="${error}">error</p>
        </div>
        <div >
            <p class="success" th:text="${success}">success</p>
        </div>

        <div class="form-actions">
            <button type="submit" class="btn">send</button>
        </div>
    </fieldset>
</form>

</body>
</html>