<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>forget_password_form</title>
</head>
<body>
<form th:action="@{/forget_password}" method="post" th:object="${user}">
    <fieldset>
        <legend>Please provide your email for verification</legend>

        <label for="username">Username</label>
        <input th:field="*{email}" id="username" name="username"/>

        <div class="form-actions">
            <button type="submit" class="btn">send</button>
        </div>
    </fieldset>
</form>
</body>
</html>