<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
</head>

<body>

<div class="container">

    <h3>Student Page</h3>
    <img th:src="@{/resources/miu.JPG}" alt="image" width="600" height="400"/>

    <div>  <img alt="miu" src="/SE_Final_Project-1/SE_Final_Project/src/resourcesProject-1/SE_Final_Project/src/resources/miu.png"></div>

    <a th:href="@{/studentpage/courseList}">Courses you Registered</a>
    <hr>
    <a th:href="@{/faculty/}">Faculties </a>
    <hr>

</div>
</body>

</html>

